* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #87b5b5;
}

/*  =======
    TIPOGRAPHY
    ======= */

/*  ===== 
    LAYOUT 
    ====== */

.header {
  border-bottom: 1px solid black;
  font-family: "Russo One", sans-serif;
  background: #4aa2a3;
  font-size: 1.25rem;
  letter-spacing: 0.1rem;
  padding-left: 0.75em;
  height: 3%;
  display: flex;
  align-items: center;
}

span {
  padding-right: 0.5em;
}

.App {
  width: 95%;
  max-width: 1600px;
  min-height: 600px;
  margin: 3em auto;
  display: flex;
  justify-content: space-evenly;
}

.editor-wrapper {
  width: 45%;
  border: 1px solid black;
  box-shadow: 0.5em 0.5em 2em black;
}

.preview-wrapper {
  width: 45%;
  border: 1px solid black;
  box-shadow: 0.5em 0.5em 2em black;
}

textarea {
  width: 100%;
  height: 97%;
  padding: 1em 2em;
  background: #c0d8d8;
  margin: 0;
  resize: none;
  outline: none;
}

#preview {
  width: 100%;
  height: 97%;
  background: #c0d8d8;
  padding: 1em 2em;
  line-height: 1.75;
  overflow: auto;
}

/*  =====
    MARKDOWN STYLES
    ====== */

blockquote {
  border-left: 0.25em solid #224b4b;
  color: #224b4b;
  padding-left: 0.25em;
  margin-left: 1.75em;
}

code {
  background: white;
  padding: 1px 4px 2px 4px;
  font-size: 12px;
  font-weight: bold;
}

pre {
  background: white;
  padding: 5px 0 5px 5px;
}

#preview h1 {
  border-bottom: 2px solid #224b4b;
}

#preview h2 {
  border-bottom: 1px solid #224b4b;
}

table {
  border-collapse: collapse;
}

td,
th {
  border: 2px solid #224b4b;
  padding-left: 5px;
  padding-right: 5px;
}

li {
  padding-left: 1em;
}

#preview img {
  max-width: 25%;
}

@media (max-width: 1000px) {
  .App {
    flex-direction: column;
    width: 95%;
    align-items: center;
    margin: 2em auto;
  }

  .editor-wrapper {
    width: 100%;
    height: 50em;
    margin-bottom: 2em;
  }

  textarea {
    width: 100%;
  }

  .preview-wrapper {
    width: 100%;
  }

  code {
    font-size: 10px;
  }
}
