* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #87b5b5;
}

.App {
  display: grid;
  width: 95%;
  height: 100vh;
  grid-template:
    "header1 header2" 0.2fr
    "textarea preview" 5fr
    / 1fr 1fr;
  gap: 2em;
  margin: 2em auto;
}

.header {
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  font-family: "Russo One", sans-serif;
  background: #4aa2a3;
  font-size: 1.25rem;
  letter-spacing: 0.1rem;
  padding-left: 0.75em;
}

span {
  padding-right: 0.5em;
}

#header1 {
  grid-area: header1;
}

#header2 {
  grid-area: header2;
}

textarea {
  display: block;
  min-width: 100%;
  height: 100%;
  grid-area: textrea;
  border: 1px solid black;
  box-shadow: 0.5em 0.5em 2em black;
  padding: 1em 2em;
  background: #c0d8d8;
  margin: 0;
  resize: none;
  outline: none;
}

#preview {
  min-width: 100%;
  height: 100%;
  grid-area: preview;
  border: 1px solid black;
  box-shadow: 0.5em 0.5em 2em black;
  background: #c0d8d8;
  padding: 1em 2em;
  line-height: 1.75;
  overflow: auto;
}

blockquote {
  border-left: 0.25em solid #224b4b;
  color: #224b4b;
  padding-left: 0.25em;
  margin-left: 1.75em;
}

code {
  background: white;
  padding: 1px 4px 2px 4px;
  font-size: 12px;
  font-weight: bold;
}

pre {
  background: white;
  padding: 5px 0 5px 5px;
}

#preview h1 {
  border-bottom: 2px solid #224b4b;
}

#preview h2 {
  border-bottom: 1px solid #224b4b;
}

table {
  border-collapse: collapse;
}

td,
th {
  border: 2px solid #224b4b;
  padding-left: 5px;
  padding-right: 5px;
}

li {
  padding-left: 1em;
}

#preview img {
  max-width: 25%;
}

@media (max-width: 875px) {
  .App {
    width: 90%;
    grid-template:
      "header1" 0.2fr
      "textarea" 5fr
      "header2" 0.2fr
      "preview" 5fr;
    gap: 2em;
  }

  textarea {
    min-height: 40em;
  }
}
